body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color:var(--background-color);
    color:var(--main-color)
}
* {box-sizing: border-box;}
:root{
    --main-color:rgb(221, 186, 157);
    --background-color:rgb(46, 32, 30);
    --red: rgb(202, 70, 55);

    --gap-distance: 200px;
}

button{
    width:15%; padding:5px; background-color:var(--main-color); border: 1px solid black;
    transition:cubic-bezier(1, 0, 0, 1) 0.3s;
}
button:hover{background-color:var(--background-color); color:var(--main-color);}


#customerContainer, #booksContainer{
    display:flex; flex-direction:column; border: 1.5px solid black; 
}
.customerCard, .bookCard{
    background-color: var(--main-color); color:var(--background-color); display:grid; 
    grid-template-columns: var(--gap-distance) var(--gap-distance) var(--gap-distance);
} .customerCard{grid-template-columns: var(--gap-distance) var(--gap-distance) var(--gap-distance) var(--gap-distance);}
.customerName, .bookTitle{
    font-weight:bolder; margin-left: 10px;
}

.editButton, .interactButton, .deleteButton{
    width: 40%; height:60%; max-height:30px; align-self:center;
} .deleteButton{color: var(--red);} 
.deleteButton:hover{background-color:var(--red); color:var(--background-color);}

.bookAuthor{
    justify-self:end; font-style:italic; 
}   
.bookYear{
    justify-self:end; 
}

